/*************************COMMON WIDGET CSS************************************/

body { 
	
	height:100%;
	width:100%;
	
}


.footer-grid{
	float:right;
	margin-right:60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	
}


.grouping{
	background-color: #0065a6;
	background-image: -moz-linear-gradient(top, #0065a6, #0065a6);
	background-image: -ms-linear-gradient(top, #0065a6, #0065a6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0065a6), to(#0065a6));
	background-image: -webkit-linear-gradient(top, #0065a6, #0065a6);
	background-image: -o-linear-gradient(top, #0065a6, #0065a6);
	background-image: linear-gradient(top, #0065a6, #0065a6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065a6', endColorstr='#0065a6', GradientType=0);
	border-color: #0065a6 #0065a6 #00365a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color:white;
	height:30px;
	margin:5px;
}

.greygrouping{
	background-color: #6B7274;
	background-image: -moz-linear-gradient(top, #6B7274, #6B7274);
	background-image: -ms-linear-gradient(top, #6B7274, #6B7274);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6B7274), to(#6B7274));
	background-image: -webkit-linear-gradient(top, #6B7274, #6B7274);
	background-image: -o-linear-gradient(top, #6B7274, #6B7274);
	background-image: linear-gradient(top, #6B7274, #6B7274);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B7274', endColorstr='#6B7274', GradientType=0);
	border-color: #6B7274 #6B7274 #00365a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color:white;
	height:30px;
	margin:5px;
	
	
}

/*************************HEADERBAR CSS************************************/
#appheaderbar
{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFCFC), color-stop(1, #DEDEDE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FCFCFC 0%, #DEDEDE 100%);
	
	border-bottom: 1px solid #cacaca;
	
}

 .rightfloatbuttons
 {
 	padding: 4px;
 	padding-left:10px;
 	padding-right:10px;
 	
    margin-right:3px;
    margin-top:2px;
    background-color: #FF9900;
    color: white;
   	border:1px solid black;
    cursor:pointer;
	float:right;
	text-align:center;   
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0); 
 }
 
 .leftfloatbuttons
 {
  	padding: 4px;
  	padding-left:10px;
 	padding-right:10px;
 	
 	/**@author Anil @since 15-09-2020
    margin-left:03px;
    **/
    margin-left:20px;
    
    
    background-color: #FF9900;
    color: white;
    cursor:pointer;
 	float: left;
 	text-align:center;
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
 }
 
 #processname
 {
 
   	font-size: 1.5em;
	
	-webkit-margin-start:  0.85px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-left: 20px;
	margin-top:0px;
 }
/*************************ErpFinal CSS************************************/
 #addbutton
{
	padding: 4px;
  	padding-left:40px;
 	padding-right:40px;
    
    margin-top:60px;
    margin-bottom:60px;
    margin:auto;
    width:50px;
    
    color: white;
    cursor:pointer;

 	text-align:center;
 	 	
	border: 1px solid #4285f4;
	outline: none;
	margin-left:10px;
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}

.centering
{
	margin:auto;
}

 #addbuttonDown
{
	padding: 4px;
  	padding-left:40px;
 	padding-right:40px;
    
    margin-top:30px;
    margin:auto;
    width:50px;
    
    color: white;
    cursor:pointer;

 	text-align:center;
 	 	
	border: 1px solid #4285f4;
	outline: none;
	
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}


/*************************NAVIGATIONBAR CSS************************************/
 #navigationbar
  {   
 /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #646060 0%, #262626 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #646060 0%, #262626 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #646060 0%, #262626 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #646060), color-stop(1, #262626));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #646060 0%, #262626 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #646060 0%, #262626 100%);
cursor:pointer;
	 
  }
   
.navigationitems
{
	padding: 2px;
	margin:4px;
    color: white;
    font-size:13px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    cursor:pointer; 
    float:left;    	
}

#companyinfo
  {
  	height:50px;
  	background-color: #E8E8E8;
  }

.navigationitems :HOVER
  {
  background-color:red;
  }
    
.companyinfoitems
          {
          	float: right;
          	
          }
          

          
#logo
          {
          	float:right;
          }          
          
#logout
{
        color: white;
        cursor:pointer;
        float:right;   
        padding: 2px;
		margin:6px;
    	font-size:13px;
    	font-family: 'Raleway', Helvetica, Arial, sans-serif;  
}


#support
{
        color: white;
        cursor:pointer;
        float:right;   
        padding: 2px;
		margin:6px;
    	font-size:13px;
    	font-family: 'Raleway', Helvetica, Arial, sans-serif;  
}
/*************************SIDEBAR CSS************************************/
 #sidebar
{
    background: #f0eeee;
    border-right: 1px solid #afafb6;
	text-shadow: 0 1px 1px white;
}

.leftbaritems
{
   cursor:pointer;
  
}
/*************************PROCESSLEVELBAR CSS************************************/
 
 #processbar
 {
 	padding: 1px;
  	
  	/** @author Anil @since 15-09-2020
  	margin-top:20px;
  	margin-left:20px;
  	**/
  	
  	margin-top:2px;
  	margin-left:30px;
  	
    color: white;
    border-bottom: 1px silver;
    cursor:pointer;
    height:30px;  
 }
 
 .processbaritems
 {
 	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: #4c4c4c;
	margin: 0;
	padding: 3px 12px;
	font-size: 13px;
	text-align: center;
	background-color: #e3e3e3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
	background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
	background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);
	background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);
	background-image: -o-linear-gradient(top, #efefef, #d8d8d8);
	background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-font-smoothing: antialiased;
	padding:5px;
	float:left;
	margin-left:2px;
	margin-right:2px;
	outline: none;
 
	cursor:pointer;
}
/*************************HOMEVIEW CSS************************************/
 #homeview
 {
  	background: url("form_sheetbg.png");
  	overflow-y: scroll;
 }
 
.tablecaption
{
	background: white;	
	border: 1px solid #BBBBBB;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	
	
	
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	 
	border: 1px solid #c8c8d3;
	-moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.tablecaption legend
{
	font-weight: bold;
	font-size: 15px;
}



#tableheader
{
	
	
	
}

#tableheadermenu
{
	padding: 4px;
  	padding-left:10px;
 	padding-right:10px;
    
    margin-left:03px;
    margin-top:10px;
    
    background-color: #FF9900;
    color: white;
    cursor:pointer;
 	 	
 	text-align:center;
 	 	
	border: 1px solid #4285f4;
	outline: none;
	
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}


#form
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	
	border: 1px solid #BBBBBB;
	
    
    width:95%;
    width:95%;
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
 }

#formcontent
{
	border: 1px solid #BBBBBB;
	width:98%; 
	margin:auto;
	/** @authoe Anil @since 15-09-2020
    margin-top:10px;
    margin-bottom: 10px;
    **/
    margin-top:0px;
    margin-bottom:0px;
    
    overflow-y: scroll;
	
		
}

#configsettingsform
{
	border: 1px solid #BBBBBB;
	
	
	background:white;
	 width:93%; 
	  height:35%;
	  margin:auto; 	
	  margin-top: 30px;
}

#configsettingsformform
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	
	border: 1px solid #BBBBBB;
	
    margin-bottom:40px;
    margin-left:20px;
    width:30%; 
    padding:10px;
    height:50%; 
}

.commonheight{
	
   
    height:10px;
    width:95%;
    padding:0px;
    margin:0px;
   
   
}

.commonheightBox{
	
   
    height:21px;
    width:98%;
    padding:0px;
    margin:0px;
     margin-bottom:2px;
   
    
}

.commonheightListbox{
	
    border: 1px solid #ccc;
  border-top: 1px solid #999;
    height:23px;
    width:98%;
    margin-bottom:2px;
    padding:0px;
   
   
    
}

.percentage{
	
   
    padding:0px;
    margin:0px;
    width:35px;
     margin-bottom:2px;
    
}

.taxconfig{
	
	 padding:0px;
    margin:0px;
    width:90px;
     margin-bottom:2px;
    
}



.roundList {
    -webkit-border-radius:10px;
    border-radius:0px;

}

.roundList .x-list-item:first-child {
   border-top: 0;
}

.roundList .x-list-item:last-child {
   border-bottom: 0;
}

.smallwidth{
	width:200px;
	
}
.smallwidthleftfloat
{
	width:200px;
	
}

.cellformater{
	width:200px;
	
}


#clientimage{
	display: block;
    margin-left: auto;
    margin-right: auto ;
     cursor:pointer;
	
}

#ourimage{
	position:absolute;
	display: block;
    margin-left: auto;
    margin-right: auto ;
    bottom:5px;
    left:10px;
     cursor:pointer;
    
	
}

#clientcompanyname{
	display: block;
   	font-size: 1.5em;
	
	font-weight: bold;
	margin-left: 20px;
	margin-top:02px;
	margin-bottom:0px;
	padding-bottom:0px;
	cursor:pointer;
	
    
}

.mandatoryLableStyle
{
	font-size: small;
	color:#dd4b39;
	font-weight: normal;
	
}








/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}


.gwt-Label-LoginTitle {
	color: Navy;
	font-size: 14px;
	font-style: normal;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	/* width:500px; nidhi
	27-10-2017
	for company name center
	height:10px; */
	width: 50%;
	height: 20px;
	
	font-size: 25px;
	
	/*
	end */
	line-height:34px;
	
   margin: 0 auto;
	position: relative;
	
	margin:auto;
	margin-top:10px;
	text-align: center;
}

.logo {
	float:left;
	margin-top:20px;
	
}
.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon,.email-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:153px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:201px;
	background: rgba(65,72,72,0.75) url(images/pass-icon.png) no-repeat center;
}

.email-icon {
	top:201px;
	background: rgba(65,72,72,0.75) url(images/email_icon.png) no-repeat center;
}


.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}



/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	margin-left:70px;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}


.login-form.footer.forgetlink {
	
	font-family: 'Bree Serif', serif;
	font-weight: 250;
	font-size: 15px;
	cursor:pointer;
	margin-top:20px;
	margin-left:68px;
	
}

.forgetlink {
	
	font-family: 'Bree Serif', serif;
	font-weight: 250;
	font-size: 15px;
	cursor:pointer;
	margin-top:20px;
	margin-left:68px;
	
}


.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}
#wrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	margin: 70px auto;
}

.redBackground {
    background-color: red !important;
}


.footer-grid{
	float:right;
	margin-right:60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	
}

.displaylogo{
	
	position: absolute;
}


 #loggeduser
{
    font-size: 1em;
     float:right;   
	font-weight: bold;
		-webkit-margin-start:  0.85px;
		-webkit-margin-end: 0px;
	margin-right: 20px;
	margin-top:0px;
      
    cursor:pointer;
	text-decoration: underline;
	color:blue;
}


/*  #headercompany{
  
   	font-size: 1.5em;
	font-weight: bold;
	
		-webkit-margin-start: 0.85px;
		-webkit-margin-end: 0px;
		-webkit-margin-top: 1px;
	margin-left: 350px;
	margin-top:0px;
	
} */

#headercompany{
   	font-size: 1.5em;
	font-weight: bold;
	
		-webkit-margin-start: 0.85px;
		-webkit-margin-end: 0px;
		-webkit-margin-top: 1px;
	margin-left: 350px;
	/*vertical-align: middle;*/
	
	/**
	** nidhi'
		3-08-2017
		for company name middle
	*/
		margin-top: 0px;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 16%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -111%);
	height: 13% !important;

	/**
	End
	*/
}
.companyLabelScreen{
	float:left;
	margin-left:5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.personactive{
	color: blue;
}

.redtext{
	color: red;
}


.homenavigation{
	 color: white;
        cursor:pointer;
        float:left;   
        padding: 2px;
		margin:4px;
    	font-size:13px;
    	font-family: 'Raleway', Helvetica, Arial, sans-serif;  
    	
}

.black{
	color:black;
}

.green{
	color:green;
	font-weight: bold;
}

.red{
	color:red;
	font-weight: bold;
}

.orange{
	color:orange;
	font-weight: bold;
}

.blue{
	color:blue;
	font-weight: bold;
}
th{
	white-space: normal !important;
}
.topRight{
   float:right;
   margin-top:4px;
   margin-right:4px;
   width:23px;
   height:23px;
}
.searchviewpopup{
	 width: 80% !important; 
	height: 80% !important; 
	margin: 10 auto !important;
	overflow: scroll !important;
	top : 5%
	;
}

.schedulepopup{
	/* left: 10%;
	top: 10%; */
	position: absolute !important;
	/* overflow: scroll !important; */
	width: 85% !important;
	height: 85% !important;
	
}
.scheduleformdiv{
	position: relative;
	 overflow: scroll !important;
	width: 99% !important;
	height: 100% !important;
	margin-top: 1%!important;
	margin:  1%;
}
.scheduletablediv{
	/* overflow: scroll; */
}
.schedulepopup>.popupContent{
	width: 100%;
	height: 100%;
}


/** below css added by vijay for Popupscreen **/

#popupformcontent
{
	border: 1px solid #BBBBBB;
	width: 98%!important; 
	margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    
		
}
.popupcentering
{
	margin:auto;
	margin-bottom: 30px;
}.approvalBtn
{
	margin:  1% 1% 1.5% !important;
}
.popupServicecontent
{
	width: 70% !important; 
	height: 80% !important; 
	/* margin: 10 auto !important; */
	overflow: scroll !important;
	/* top : 10%; */
}
.popFormContent{
	position: absolute;
	overflow: scroll !important;
	width: 100%;
	height: 100% !important;
}
.popupServicecontent>.popupContent{
	position: absolute;
	/* overflow: scroll !important; */
	width: 100%;
	height: 100% !important;
}
/** ends here **/

/*** technician scheduling list ****/
.bold {
    font-weight: bold;
}
/**** **/
#isc_0{
	/*  overflow: scroll !important;*/
	top : 22px !important;
	position: absolute !important;
}
 .technicianSchedule {
	position: relative !important;
	z-index: 0;

}
.technicianSchedule .listGrid{
	position: absolute !important;
	margin: -2% 0% 0% 0%;
}
.varticalGridPanel{
	position: absolute !important;
	margin: 5% 0% 5%;
}
.varticalGridPanel1{
	position: absolute !important;
	/*margin-top:5px;
	margin-left:-8px;*/
	/**margin-top:0.7%;**/
	margin-left:-0.5%;
}

 .technicianSchedule1 {
	position: relative !important;
	z-index: 0;

}
.technicianSchedule1 .listGrid{
	position: absolute !important;
	margin: 0% 0% 0% 0% !important;
	z-index: 0;
}

.technicianSchedule2 {
	position: relative !important;
	z-index: 0;

}
.technicianSchedule2 .listGrid{
	position: absolute !important;
	/**margin: 0% 0% 0% 0% !important;**/
	z-index: 0;
}

.buttonIcon{
	width: 35px;
	height: 25px;
	background: whitesmoke !important;
	padding: 0px !important;
}

.technicianscheduleButtons{
	margin-top:1px;
	margin-bottom: 5px;
	position: inherit;
}
/*** Date 29 oct 2017 added by vijay for gwt composite work properly in smartgwt screens id="isc_2Gtable" background-color:#0000FF; **/ 
/** Updated by:Viraj for background color on popup **/
.gwt-SuggestBoxPopup {
	z-index: 1000000;
	background-color: white;						
}
.technicianSchedulingRecord{
	
	color: #0000FF;
}
.technicianSchedulingRecord1{
	
	color: #FF0000;
}
/** nidhi
06-03-2018*/
td>.txtalign{
	vertical-align: middle;
	width: 250px;
    height: 21px;
    margin: 1% 0% 1%;
}
/*** ends here *****/

.dateBoxPopup {
	z-index: 11111112;/**changed from 10000000 to 11111112 as the datepicker was going in background**/
	
	
}

/**komal **/
.verticalSelect{
	margin: 1% 0% 1% !important;
}
.verticalPanel{
	margin: 2% 2% 2% !important;
	padding: 0% 16% 6%;
}
.horizontalPanel{
	margin: -12% 14% -8% 7%;
}
/** date 01/12/2017 added by komal for hvac **/
.popupCustomerLog{
	overflow: scroll !important;
	width: 50%;
	height: 50% !important;
}

/***Ashwini:To set hight and width to the popup***/
.popupNewCustomer{
	overflow: scroll !important;
	width: 50%;
	height: 70% !important;
}

.popupCreateInvoice{
	overflow: scroll !important;
	width: 60%;
	height: 70% !important;
}
.popupCustomerLogDetails{
	overflow: scroll !important;
	width: 70%;
	height: 85% !important;
}
.popupWarehouse{
	overflow: scroll !important;
	width: 80%;
	height: 90% !important;
}
.popupCustomerLogTab{
	background-color: #0065a6 !important;
}
.groupingPopup{
	background-color: #050606;
	background-image: -moz-linear-gradient(top, #050606, #050606);
	background-image: -ms-linear-gradient(top, #050606, #050606);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#050606), to(#050606));
	background-image: -webkit-linear-gradient(top, #050606, #050606);
	background-image: -o-linear-gradient(top, #050606, #050606);
	background-image: linear-gradient(top, #050606, #050606);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050606', endColorstr='#050606', GradientType=0);
	border-color: #050606 #050606 #050606;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color:white;
	height:30px;
	margin:5px;
}
#tableHeaderMenuCallLog
{
	padding: 4px;
  	padding-left:10px;
 	padding-right:10px;
    
    margin-left:03px;
    margin-top:10px;
    
    background-color: gray;
    color: white;
    cursor:pointer;
 	 	
 	text-align:center;
 	 	
	/** border: 1px solid #4285f4; **/
	outline: none;
	
	/**background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0); **/
}
.blankGrouping{
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065a6', endColorstr='#0065a6', GradientType=0);
	border-color: #0065a6 #0065a6 #00365a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color:#0065a6;
	height:30px;
	margin:5px;
}
.textArea{
	width : 95% !important;
}
	

.popItemPro{
	width: 70% !important;
}	
/*********** Date 28-07-2018 by Vijay for tax1 tax2 box visible  and hide css ***/
.hideVisibility{
	visibility: hidden;
}
.showVisibility{
	visibility: visible;
}
/********* ends here ***********/
.attandancePopIndex{
	z-index:  300000 !important;
}

.popupProSerialNumber{
	width: 50%;
}
/**** Date 03-11-2018 By Vijay for Loading images set hetigh and width ***/
.loading{
   width:500px;
   height:100px;
}

/** Ashwini Patil added z-index as Email popup was not working on LeadDashboard **/
.setWidth{
	width: 830px !important;
	z-index: 11111111 !important;
}

.setCtcTempPopSize{
	width: 1000px !important;
	height: 600px !important;
}
/*** date 13.3.2019 added by komal for new customer service popup **/ 
.servicepopup
{
	width: 60% !important; 
	height: 80% !important; 
	/* margin: 10 auto !important; */
	overflow: scroll !important;
	/* top : 10%; */
}
.showMessageBox {
	z-index: 11111111 !important;
}
/** Ashwini Patil Date:18-05-2022 Download attendance button alignment was wrong on attendance report **/
/** old values: left:150px top:15px**/
.buttoncss
{
margin-left: 200px !important; 
margin-top: 30px !important;  
}
/********* ends here ***********/

/*** Date 17-05-2019 by Vijay for NBHC Customer Support **/
.customerSupportPopup {
	z-index: 1000000;
	margin-left: 71px					
}



/** @author Anil @since 15-09-2020 Menu bar css**/


.gwt-MenuBar-horizontal {
	background: inherit !important; 
	border: 0px !important; 
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 5px 5px !important;
	vertical-align: bottom !important;
	color: white !important;
	font-weight: normal !important;
	font-size: 13px !important;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 0px 40px 0px 0px !important;
	font-size: 12px !important;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #4387fd !important;
}

.gwt-MenuBarPopup {
	margin: 0px 0px 0px 0px !important;
	z-index: 1000000 !important;
}

.rightalignmenus{
	float:right;
}

.dropdownMenu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px #CCCCCC;
    float: right;
    left: -126px;
    list-style: none outside none;
    margin: -6px -18px -20px -5px;
    min-width: 120px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
}

.appdrawer{
	 background-image: url("/images/menubar/165-menu.png");
	 background-repeat: no-repeat;
  	 background-size: 30px 22px;
  	 background-color: whitesmoke;
  	 padding-left: 9px !important;
	 padding-right: 0px !important; 
}

.appdrawermenu{
 	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: #4c4c4c;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-size: 13px;
	border-radius: 3px;
	padding:3px;
	float:left;
	margin-left:0px;
	margin-right:0px;
	outline: none;
	cursor:pointer;
	width:172px;
}
.checkboxWidth{
	 zoom:1.6;
	 align :center;
	 text-align:center;
}

.emailSubjectTextArea{
	width:21px;
}
.emailBodyTextArea{
	width:350px;
}

#textAreaWidth{
	width: 85%;
}

#textAreaWidth2{
	width: 65%;
}
.setWidthAndHeight{
	width: 830px !important;
	height: 450px !important;
}
/**@Sheetal:23-03-2022,Increasing size of Vendor Invoice Details search popup for Samyak Exim**/
.searchPopupofVendorInvoiceDetails{
	 width: 95% !important; 
	height: 80% !important; 
	margin: 10 auto !important;
	overflow: scroll !important;
	top : 5%
	;
}

.replanpopupWidth{
	width: 1434px !important;
}
.setWidthsmspopup{
	width: 830px !important;
}

/**Ashwini Patil to increase size of Multiple SR copy print popup**/
.multipleSRCopyPopupWidth{
	width: 800px;
	z-index: 11111111;
}
.newindex{
	z-index: 11111122 !important;
}

.multipleserviceschedulepopup{
	width: 1500px !important;
}

.setWidthlicenseinfo{
	width: 850px !important;
}

#addlabel
{
	padding: 4px;  	
 	padding-right:40px;
    
    margin-top:60px;
    margin-bottom:60px;
    margin:auto;
    width:50px;
    
    color: black;

	font-size: 1.2em;
	font-weight: bold;
 	text-align:left;
	outline: none;
	margin-left:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}

#addlabel2
{
	padding: 4px;  	    
    margin-top:60px;
    margin-bottom:60px;
    margin:auto;
    width:120px;
    color: black;
    font-size: 1.2em;
	font-weight: bold;
	border:none !important;
 	text-align:right;
	outline: none;
	margin-left:10px;
	margin-right:10px;
	background:none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}
/**Ashwini Patil to increase size of downloadpopup **/
.downloadpopup{
	width: 280px;
	z-index: 11111111;
}

/**Ashwini Patil to increase size of descriptionpopup **/
.descriptionpopup{
	width: 500px;
	z-index: 11111111;
}